@media (min-width: 920px) {
    .main-container {
        width: 100%;
        height: 100vh;
        padding: 0;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .main--information-container {
        max-width: 550px;
        max-height: 328px;
        padding: 50px 60px 23px 35px;
        text-align: start;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
    }

    .main--information-container h1 {
        font-size: 4rem;
        padding: 0 0 12px;
        margin-bottom: 10px;
        line-height: 4.5rem;
        letter-spacing: -1.3px;
    }

    .main--information-container p {
        padding: 0 90px 55px 0;
        font-size: 1.5rem;
        letter-spacing: 0.6px;
        line-height: 2.4rem;
    }

    .main--additional-information {
        display: flex;
    }

    .main--additional-information .additional--information {
        margin: 0 auto 0 0;
    }

    .main--additional-information .additional--information p {
        padding: 0;
        font-size: .9rem;
    }

    .main--photo {
        max-width: 550px;
        max-height: 328px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
    }

    .attribution a {
        font-size: 1.2rem;
        padding-bottom: 0;
    }
}